<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\UpdateConfigValueIfFeatureUnavailable">
        <arguments>
            <argument name="fieldUpdateConfig" xsi:type="array">
                <item name="klevu_search_recommendations_enabled" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_search_recommendations_enabled</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_RECOMMENDATIONS</item>
                    <item name="value" xsi:type="string">0</item>
                </item>
                <item name="klevu_integration_next_steps_recommendation_enabled" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_integration_next_steps_recommendation_enabled</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_RECOMMENDATIONS</item>
                    <item name="value" xsi:type="string">0</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\DisableFieldIfFeatureUnavailable">
        <arguments>
            <argument name="fieldToFeatureMap" xsi:type="array">
                <item name="klevu_search_recommendations_enabled" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_RECOMMENDATIONS</item>
                <item name="klevu_integration_next_steps_recommendation_enabled" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_RECOMMENDATIONS</item>
            </argument>
        </arguments>
    </type>
</config>
